[Desktop Entry]
Type=Application
Version=1.0
Name=luadock
Comment=Another one bites the dust
Path=/usr/bin
Exec=luadock
Icon=
Terminal=false
Categories=
